<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
    <rewrite>
      <rules>
        <rule name="Redirect www to domain.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www.dalystudio.biz$" />
          </conditions>
          <action type="Redirect" url="https://dalystudio.biz/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url=".*[A-Z].*" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="^.*\.(ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v)$" negate="true" />
            <add input="{URL}" pattern="myaccount|order|payment|json" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{R:0}}" redirectType="Permanent" />
        </rule>
        <rule name="Index redirect" stopProcessing="true">
          <match url="^index$" />
          <action type="Redirect" url="https://dalystudio.biz" redirectType="Permanent" />
        </rule>
        <!--<rule name="Images redirect" stopProcessing="true">
          <match url="^img/(.*)" />
          <action type="Redirect" url="https://d1mfwzl1v92qfh.dalystudio.biz/{R:1}" redirectType="Permanent" />
        </rule>-->
      </rules>
      <outboundRules>
        <rule name="Rewrite SVGZ header" preCondition="IsSVGZ" stopProcessing="true">
          <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
          <action type="Rewrite" value="gzip" />
        </rule>
        <preConditions>
          <preCondition name="IsSVGZ">
            <add input="{PATH_INFO}" pattern="\.svgz$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: a0e85d2d-fec4-4d0e-9a50-def3f9f83a4c-->