@using Dalystudio.biz
<!-- CONTACT -->
<section class="module-small">

    <div class="container">

        <div class="row">

            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <a href="https://goo.gl/maps/GLRTS6ouuJS2" target="_blank" title="address" rel="noreferrer">
                        <div class="content-box-icon">
                            <span class="icon-map-pin"></span>
                        </div>
                        <div class="content-box-title font-inc">
                            Newark, New Jersey, USA
                        </div>
                    </a>
                </div>
            </div>
            <!-- /CONTENT BOX -->
            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <a href="tel:@Settings.SupportPhone" title="phone">
                        <div class="content-box-icon">
                            <span class="icon-phone"></span>
                        </div>
                        <div class="content-box-title font-inc">
                            +1973-580-4400
                        </div>
                    </a>
                </div>
            </div>
            <!-- /CONTENT BOX -->
            <!-- CONTENT BOX -->
            <div class="col-sm-4">
                <div class="content-box">
                    <a href="mailto:dalystudio@gmail.com" title="email">
                        <div class="content-box-icon">
                            <span class="icon-envelope"></span>
                        </div>
                        <div class="content-box-title font-inc">
                            dalystudio@gmail.com
                        </div>
                    </a>
                </div>
            </div>
            <!-- /CONTENT BOX -->

        </div>

    </div>

</section>
<!-- /CONTACT -->

<!-- FOOTER -->
<footer class="footer">
		
    <div class="container">
		
        <div class="row">
		
            <div class="col-sm-12 text-center">
                <p class="copyright font-inc m-b-0"> @DateTime.Now.Year <a href="https://nordicsoft.net" rel="noopener noreferrer nofollow" target="_blank">NordicSoft</a>. All rights reserved.</p>
            </div>
		
        </div>
		
    </div>
		
</footer>
<!-- /FOOTER -->