
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="u-py-md-250 u-flex-center error-section">
    <img src="/img/404.png"/>
    <div class="container text-center">
        <h1 class="text-white">Oops! page not found</h1>
        <button class="btn btn-primary btn-rounded" aria-label="Go to Home">
            <a class="" href="@Url.RouteUrl("HomeIndex").ToLower()" title="Home">GO HOME</a>
        </button>
    </div>
</section>