.u-ff-primary {
    font-family: $primary-font;
}
.fonts-loaded-1 .u-ff-primary {
    font-family: $primary-font-loaded-1;
}
.fonts-loaded-2 .u-ff-primary {
    font-family: $primary-font-loaded-2;
}

.u-ff-secondary {
    font-family: $secondary-font;
}
.fonts-loaded-1 .u-ff-secondary {
    font-family: $secondary-font-loaded-1;
}

.fonts-loaded-2 .u-ff-secondary {
    font-family: $secondary-font-loaded-2;
}